body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #3498db;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

#progress {
    font-size: 24px;
    font-weight: bold;
    color: #27ae60;
}
